  <div class="modal-body">
    <div class="form-group">
      <label for="configCueGoMode" class="col-sm-2 control-label">Go Mode</label>
      <div class="col-sm-10">
        <div class="btn-group" dropdown>
          <button type="button" class="btn btn-default btn-sm dropdown-toggle" id="configCueGoMode" dropdown-toggle>
            <span data-ng-if="!cueConfig.goMode">Stop after this</span>
            <span data-ng-if="cueConfig.goMode == 1">Go with next immediately</span>
            <span data-ng-if="cueConfig.goMode == 2">Go after this</span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#" data-ng-click="cueConfig.goMode = 0">Stop after this</a></li>
            <li><a href="#" data-ng-click="cueConfig.goMode = 1">Go with next immediately</a></li>
            <li><a href="#" data-ng-click="cueConfig.goMode = 2">Go after this</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
