<div class="modal-header"> 
  <h3 class="modal-title">Configure Audio Control</h3> 
</div> 
<form class="form-horizontal" name="configForm" data-ng-submit="configForm.$valid && $close()">
  <ng-include src="'partials/configure-cue-partials.html'"></ng-include>
  <div class="modal-body">
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          <label><input type="checkbox" data-ng-model="config.waitActive"> Wait active clip to end.</label><br>
          <label><input type="checkbox" data-ng-model="config.killActive"> At the end, kill active clip.</label><br>
          <label><input type="checkbox" data-ng-model="config.killAll"> At the end, kill all clips. </label>
        </div>
      </div>
    </div>
    <div class="form-group" data-ng-class="{'has-error': configForm.fadeTo.$invalid}">
      <label for="configFadeTo" class="col-sm-2 control-label">Fade to</label>
      <div class="col-sm-10">
        <input type="text" class="form-control input-sm" id="configFadeTo" placeholder="Blank to disable" name="fadeTo"
          data-cuefloat data-ng-model="config.fadeTo">
      </div>
    </div>
    <div class="form-group" data-ng-class="{'has-error': configForm.fadeRangeStart.$invalid || configForm.fadeRangeEnd.$invalid}">
      <label for="configFadeRangeStart" class="col-sm-2 control-label">Fading Range</label>
      <div class="col-sm-10 form-inline">
        <div class="input-group input-group-sm">
          <input type="text" class="form-control input-sm" id="configFadeRangeStart" name="fadeRangeStart" placeholder="Start; Blank to disable"
            data-cuefloat data-ng-model="config.fadeRange[0]">
          <input type="text" class="form-control input-sm" id="configFadeRangeEnd" name="fadeRangeEnd" placeholder="End; Blank to disable"
            data-cuefloat data-ng-model="config.fadeRange[1]">
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <input type="submit" class="btn btn-primary" value="Ok" data-ng-disabled="!configForm.$valid">
  </div>
</form>



