<!DOCTYPE html>
<html lang="en" data-ng-app="stageCue" data-ng-controller="sc.app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/ng-sortable.min.css">
    <link rel="stylesheet" href="css/bg-splitter.css">
    <link rel="stylesheet" href="css/xeditable.css">
    <link rel="stylesheet" href="css/index.css">

    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/xeditable.min.js"></script>
    <script src="js/ng-sortable.js"></script>
    <script src="js/ng-contextmenu.js"></script>
    <script src="js/ng-filesystem.js"></script>
    <script src="js/bg-splitter.js"></script>
    <script src="js/stagecue-app.js"></script>
    <script src="js/stagecue-app-library.js"></script>
    <script src="js/stagecue-app-cuesheet.js"></script>
    <script src="js/stagecue-cueengine.js"></script>
    <script src="js/stagecue-userconfig.js"></script>
    <script src="js/stagecue-library.js"></script>
    <script src="js/stagecue-audio.js"></script>
    <script src="js/workspace-loader.js"></script>
  </head>
  <body>

  <table style="width: 100%; height: 100%; display: table;">
    <tr height="60"><td>
      <div class="navbar navbar-default" data-ng-class="{'show-running': cueEngine.running}">
        <div class="navbar-header">
          <span class="navbar-brand" style="font-variant: small-caps">StageCue</span>
        </div>
        <div class="navbar-collapse">
          <form class="navbar-form navbar-right">
            <button class="btn btn-default" data-ng-click="downloadConfig()" data-ng-show="stageReady">Download Config</button>
            <button class="btn btn-danger" data-ng-click="resetConfig()" data-ng-hide="stageReady">Reset Config</button>
          </form>
        </div>
      </div>
    </td></tr>
    <tr height="100%"><td>
      <div class="workspace" id="workspace-drop" data-ng-hide="stageReady">
        <span>
          Drop a folder here as workspace to start
        </span>
      </div>
      <div class="workspace" id="workspace-active" data-ng-show="stageReady">
        <bg-splitter data-ng-attr-orientation="horizontal" data-ng-attr-init-pos="300">
          <bg-pane data-ng-attr-min-size="100" id="library-cell">
            <!-- Library -->
            <div class="panel panel-primary" data-ng-controller="sc.app.library">
              <modal id="dialog-add-library" data-ng-attr-title="Add to Library" data-ng-attr-visible="isAddResourceVisible">
                <div class="progress" data-ng-show="isAddResourceLoading">
                  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                  </div>
                </div>          
                <div data-ng-if="!isAddResourceLoading && isAddResourceVisible">
                  <span data-ng-repeat="i in rawResources"><button type="button" class="btn btn-default" data-ng-click="addResource(i)">{{ i.name }}</button> </span>
                </div>
              </modal>
              <div class="panel-body">
                <div style="text-align: right;">
                  <button type="button" class="btn btn-default" data-ng-click="stopPreview()" data-ng-show="itemPreviewing">
                    <span class="glyphicon glyphicon-stop"></span> Stop</span>
                  </button>

                  <button type="button" class="btn btn-default btn-primary" data-ng-click="showAddResource()">
                    <span class="glyphicon glyphicon-plus"></span> Add</span>
                  </button>
                </div>
                <div class="list-group" data-as-sortable="libraryDragOptions" data-ng-model="items">
                  <div class="list-group-item library-item" data-ng-repeat="i in items" data-as-sortable-item data-ng-click="addToCueSheet(i)">
                    <div data-as-sortable-item-handle></div>                    
                    <div data-ng-class="{'item-previewing': i.previewing}" data-ng-if="i.type == 'audio'"
                         data-ng-attr-context-menu="partials/library-context.html" data-ng-model="i">
                      <div class="item-name">{{ i.name }}</div><canvas data-draw-audio data-ng-attr-audio-buffer="i.buffer"></canvas>
                    </div>
                    <div data-ng-class="{'item-previewing': i.previewing}" data-ng-if="i.type == 'fade'">
                      Fade Control
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </bg-pane>
          <bg-pane data-ng-attr-min-size="150">
            <div data-ng-controller="sc.app.cueSheet">
              <bg-splitter data-ng-attr-orientation="vertical">
                <bg-pane data-ng-attr-min-size="100">
                  <div class="panel">
                  <!-- Control Panel -->
                    <table class="cuesheet" id="master">
                      <colgroup>
                        <col>
                        <col>
                        <col class="channel" data-ng-repeat="i in channels" data-ng-class="{'channel-audio': i.type == 'audio', 'channel-html': i.type == 'html'}">
                      </colgroup>
                      <tbody>
                        <tr>
                          <td class="cue-handle"></td>
                          <td id="master-cell">
                            <h3 id="running-cue">{{ cueEngine.cues[cueEngine.current].description }}</h3>
                            <button type="button" class="btn btn-success btn-lg" data-ng-click="go()" title="Space"><span class="glyphicon glyphicon-play"></span> Go</button>
                            <button type="button" class="btn btn-default btn-lg" data-ng-click="stop()" title="Esc"><span class="glyphicon glyphicon-stop"></span> Stop</button>
                          </td>
                          <td class="channel" data-ng-repeat="i in channels">
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </bg-pane>
                <bg-pane data-ng-attr-min-size="50">
                  <!-- Cue Sheet -->
                  <div class="panel panel-warning" id="cuesheet-cell">
                    <table class="cuesheet" id="cuesheet">
                      <colgroup>
                        <col>
                        <col>
                        <col class="channel" data-ng-repeat="i in channels" data-ng-class="{'channel-audio': i.type == 'audio', 'channel-html': i.type == 'html'}">
                      </colgroup>
                      <thead>
                        <tr data-as-sortable="channelDragOptions" data-ng-model="channels">
                          <th class="cue-handle"></th>
                          <th>
                            Cue
                            <button type="button" class="btn btn-default btn-xs" data-ng-click="addAudioChannel()"><span class="glyphicon glyphicon-plus"></span> Audio</button>
                            <button type="button" class="btn btn-default btn-xs" data-ng-click="addHtmlChannel()"><span class="glyphicon glyphicon-plus"></span> HTML</button>
                          </th>
                          <th class="channel" data-ng-repeat="i in channels" 
                              data-as-sortable-item 
                              data-ng-attr-context-menu="partials/channel-context.html"
                              data-ng-class="{'channel-audio': i.type == 'audio', 'channel-html': i.type == 'html'}">
                            <span data-buttons="no" data-blur="submit" data-editable-text="i.name" data-as-sortable-item-handle>{{ i.name }}</span>                              
                          </th>
                        </tr>
                      </thead>
                      <tbody data-as-sortable="cueDragOptions" data-ng-model="cues">
                        <tr class="cue" data-ng-repeat="c in cues"
                            data-ng-dblclick="setCurrentAt($index)"
                            data-ng-class="{'current': engine.current == $index}"
                            data-scroll-into-view-if="engine.current == $index"
                            data-as-sortable="cueItemDragOptions" data-ng-model="c.items"> <!--  data-as-sortable-item data-as-sortable-item-up -->
                          <td class="cue-handle"></td> <!--  data-as-sortable-item-handle -->
                          <td class="cue-description"
                              data-ng-attr-context-menu="partials/cue-context.html">
                            <span data-buttons="no" data-blur="submit" data-editable-text="c.description">{{ c.description }}</span>
                          </td>
                          <td data-ng-repeat="i in c.items" data-as-sortable-item>
                            <div data-ng-attr-context-menu="partials/cue-item-context.html" class="cue-item">
                              <div data-as-sortable-item-handle 
                                   class="cue-item" data-ng-class="{'cue-item-audio': i.type == 'audio', 'cue-item-html': i.type == 'html'}">
                                {{ i.name || '' }}
                              </div>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </bg-pane>
              </bg-splitter>
            </div>
          </bg-pane>
        </bg-splitter>
      </div>
    </td></tr>
  </table>
  
  </body>
</html>

